@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}
h1{
    font-family: "Barrio", system-ui;
    font-size: 36px;
}
p{
    text-align: justify;
    font-family: sans-serif;
    text-indent: 100px;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}
main{
margin-bottom: 50PX;
}
footer p{
    margin-top: 20px;
    text-align: center;
}
footer{
    width: 80%;
    margin: auto;
}
.dark-mode{
    color: rgb(192, 235, 228);
    background-color: rgb(58, 58, 58);
}
button{
    border-radius: 50px;
    
}